In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store csv into a DataFrame
city_data_df = pd.read_csv('weather_data/cities.csv')
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santa Rosa,PH,2021-01-27 21:52:05,14.3122,121.1114,75.99,100,20,1.14
1,1,Atuona,PF,2021-01-27 21:52:05,-9.8000,-139.0333,78.46,79,3,15.30
2,2,Codrington,AU,2021-01-27 21:52:06,-38.2667,141.9667,65.55,72,63,16.75
3,3,Rikitea,PF,2021-01-27 21:52:06,-23.1203,-134.9692,79.88,73,89,13.15
4,4,Naze,JP,2021-01-27 21:51:35,28.3667,129.4833,62.60,63,75,11.50

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use my google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Santa Rosa,PH,2021-01-27 21:52:05,14.3122,121.1114,75.99,100,20,1.14
1,1,Atuona,PF,2021-01-27 21:52:05,-9.8000,-139.0333,78.46,79,3,15.30
3,3,Rikitea,PF,2021-01-27 21:52:06,-23.1203,-134.9692,79.88,73,89,13.15
6,6,Panalingaan,PH,2021-01-27 21:52:07,8.7842,117.4231,77.76,83,100,8.48
15,15,Auriflama,BR,2021-01-27 21:52:15,-20.6856,-50.5547,77.63,76,99,0.92
16,16,Richards Bay,ZA,2021-01-27 21:52:16,-28.7830,32.0377,73.24,95,100,9.35
18,18,Samarai,PG,2021-01-27 21:48:47,-10.6167,150.6667,79.83,86,99,7.16
20,20,Raymondville,US,2021-01-27 21:52:16,26.4815,-97.7831,77.00,31,1,17.27
26,26,Surin,TH,2021-01-27 21:52:19,14.8818,103.4936,73.00,74,59,7.14
29,29,Kapaa,US,2021-01-27 21:52:20,22.0752,-159.3190,77.00,59,87,7.00

In [21]:
preferred_cities_df.count()

City_ID       145
City          145
Country       145
Date          145
Lat           145
Lng           145
Max Temp      145
Humidity      145
Cloudiness    145
Wind Speed    145
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0     Santa Rosa      PH     75.99  14.3122  121.1114
1         Atuona      PF     78.46  -9.8000 -139.0333
3        Rikitea      PF     79.88 -23.1203 -134.9692
6    Panalingaan      PH     77.76   8.7842  117.4231
15     Auriflama      BR     77.63 -20.6856  -50.5547
16  Richards Bay      ZA     73.24 -28.7830   32.0377
18       Samarai      PG     79.83 -10.6167  150.6667
20  Raymondville      US     77.00  26.4815  -97.7831
26         Surin      TH     73.00  14.8818  103.4936
29         Kapaa      US     77.00  22.0752 -159.3190

In [25]:
# Set paramaters to search for hotel
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

In [31]:
# Iterate throught the dataframe
for index, row in hotel_df.iterrows():
    # Get lat and lng
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the lat and lng to params to dictionary
    params["location"] = f"{lat},{lng}"

    # use the search term: "lodgning" and our lat and lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels['results'][0]['name']
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [33]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Santa Rosa,PH,75.99,14.3122,121.1114,Erlyn’s Sta Rosa City Home
1,Atuona,PF,78.46,-9.8000,-139.0333,Villa Enata
3,Rikitea,PF,79.88,-23.1203,-134.9692,Pension Maro'i
6,Panalingaan,PH,77.76,8.7842,117.4231,I Love Panalingaan View Deck
15,Auriflama,BR,77.63,-20.6856,-50.5547,Capoia´s Hotel
16,Richards Bay,ZA,73.24,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
18,Samarai,PG,79.83,-10.6167,150.6667,Nuli Sapi
20,Raymondville,US,77.00,26.4815,-97.7831,La Quinta Inn & Suites by Wyndham Raymondville
26,Surin,TH,73.00,14.8818,103.4936,One Fu Hotel
29,Kapaa,US,77.00,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach

In [35]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))